<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007343885946-jgr6l6ct7luluv2ue67c47op9i25gjfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007343885946-jgr6l6ct7luluv2ue67c47op9i25gjfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBCxdh5EmXj5dXJqCVriZhySI22RCyk0WU</string>
	<key>GCM_SENDER_ID</key>
	<string>1007343885946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fix.chat</string>
	<key>PROJECT_ID</key>
	<string>cod3r-chat-6fd4d</string>
	<key>STORAGE_BUCKET</key>
	<string>cod3r-chat-6fd4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007343885946:ios:023d97cda00d26b1b965c3</string>
	<key>DATABASE_URL</key>
	<string>https://cod3r-chat-6fd4d.firebaseio.com</string>
</dict>
</plist>